.column(class=`is-${columns}-desktop is-offset-${offset}`).is-12-tablet
  .dashboard-block.border-box
    .block-title=title
    .block-content(style=`color:${color}`)
      .value=value
      i(class=icon)