.column(class=`is-${columns}-desktop is-offset-${offset}`).is-12-tablet
  .chart-wrapper.border-box
    .h2=title
    .info-subtitle=subtitle
    canvas(class="chart" data-chart=title)

script.
  /* eslint-disable no-undef */
  $(document).ready(() => {
    const $charts = $('[data-chart]')
    if ($charts) {
      $charts.each((index, chart) => {
        const chartName = $(chart).data('chart')
        const currentChart = !{JSON.stringify(config)}
        const ctx = chart.getContext('2d')
        // eslint-disable-next-line no-unused-vars
        const buildChart = new Chart(ctx, {
          type: currentChart.type,
          data: currentChart.data,
          options: currentChart.options,
        })
      })
    }
  })
