
.column(class=`is-${columns}-desktop is-offset-${offset}`).is-12-tablet
  .info-table.border-box
    .column.h2=title
    table.table.is-fullwidth
      thead
        tr
          for header in headers
            th
              .text-small=header
      tbody
        for item in items
          tr
            for field in item
              td= field