extends ../layout/layout
include ../mixins/form-group
include ../mixins/breadcrumb

block content
  +breadcrumb([currentResource.decorate().getResourceName(),
                 record.title(), 'edit'])
  - canBeEdited = currentResource.decorate().checkIfActionIsAvailable('edit')
  if canBeEdited
    section.view-edit
      form(method='POST' action=h.showRecordUrl(currentResource, record))
        .level
          h3.title
            a.button.is-text.is-back(href=h.listUrl(currentResource))
              span.icon.is-small
                i.fas.fa-arrow-left
            | Edit #{currentResource.name()}
          .field.is-grouped
            .control
              button.button.is-primary(type='submit')
                span(class="icon is-small")
                  i(class="fas fa-check")
                .btn-text Save
            - configuratedActionRemove = currentResource.decorate().getConfiguratedAction(h, record, 'remove')
            if configuratedActionRemove
              .control
                a.button.is-primary.is-outlined(href=configuratedActionRemove.path)
                  span.icon.is-small
                    i(class=`fas fa-${configuratedActionRemove.icon}`)
                  .btn-text=configuratedActionRemove.label
        .box
          for prop in properties.filter(p => p.isEditable())
            - error = record.error(prop.name())
            - value = record.param(prop.name())
            +formGroup(prop, value, error)