extends ../layout/layout.pug

block content
  h3 #{database.name()}/#{model.name()}
  h4
    a.float-right.btn(href=h.newInstanceUrl(database, model)) New #{model.name()}
    | Items in database
  table.table
    thead
      tr
        for prop in properties.filter(p => p.isVisible())
          th= prop.name()
        th Actions