extends ../layout/layout.pug
include ../mixins/breadcrumb.pug

block content
  section.table-list
    +breadcrumb([database.name(), model.name()])
    .column
      .level
        .title=model.name()
        .field.is-grouped
          .control
            a.button.is-primary(href=h.newInstanceUrl(database, model)) New #{model.name()}
          .control
            a.button.is-light Export
    .column
      .box
        table.table.is-hoverable.is-fullwidth
          thead
            tr
              for prop in properties.filter(p => p.isVisible())
                th= prop.name()
              th Actions
          tbody
            for instance in instances
              tr
                for prop in properties.filter(p => p.isVisible())
                  td= instance.param(prop.name())
                td
                  a(href=h.showInstanceUrl(database, model, instance)) Show
                  a(href=h.editInstanceUrl(database, model, instance)) Edit

        - pages = h.paginate(total, page, perPage).pages
        .level-item
          .box.is-paddingless.is-inline-block
            a.button.is-white Previous
            for p in h.paginate(total, page, perPage).pages
              a.button.is-white(class={ 'active' : p == page }
                href=h.listUrl(database, model, { page: p })
              )= p
            a.button.is-white Next page
