extends ../layout/layout
include ../mixins/form-group
include ../mixins/breadcrumb

block content
  secton.show-details
    +breadcrumb([database.name(), model.name(), instance.id()])
    .column
      .level
        .title Details
        .field.is-grouped
          .control 
            a.button(href=h.listUrl(database, model))
              span.icon.is-small
                i(class="fas fa-angle-left")
              .btn-text Back
          .control
            a.button.is-primary(href=h.editInstanceUrl(database, model, instance))
              span.icon.is-small
                i(class="fas fa-pen")
              .btn-text Edit
          .control
            a.button.is-primary.is-outlined(href=h.deleteInstanceUrl(database, model, instance))
              span.icon.is-small
                i(class="fas fa-trash-alt")
              .btn-text Remove
    .column
      .details-wrapper
        for prop in properties.filter(p => p.isVisible())
          .property
            .card-content
              small.is-light #{prop.name().toUpperCase()}
              p #{instance.param(prop.name())}
  