extends ../layout/layout
include ../mixins/form-group
include ../mixins/breadcrumb

block content
  secton.show-details
    +breadcrumb([database.name(), model.name(), instance.id()])
    .column
      .level
        .title
          a.button.is-text.is-back(href=h.listUrl(database, model))
            span.icon.is-small
              i.fas.fa-arrow-left
          | Details
        .field.is-grouped
          .control
            a.button.is-primary(href=h.editInstanceUrl(database, model, instance))
              span.icon
                i.fas.fa-pen
              .btn-text Edit
          .control
            a.button.is-primary.is-outlined(href=h.deleteInstanceUrl(database, model, instance))
              span.icon
                i.fas.fa-trash-alt
              .btn-text Remove
    .column
      .border-box
        for prop in properties.filter(p => p.isVisible())
          .property
            .card-content
              .text-small #{prop.name().toUpperCase()}
              p(class={ 'feature' : properties.indexOf(prop) === 0 }) #{instance.param(prop.name())}
