label.label(for=property.name())= property.label()
  .control.has-icons-right
    input.input.pickadate(type='text' id=property.name() name=property.name() value=value)
    span.icon.is-small.is-right
      i.icomoon-calendar
if error
  .help.is-danger= error.message


script.
  $(document).ready(() => {
    $('##{property.name()}').pickadate({
      format: 'yyyy-mm-dd',
      firstDay: 1,
    })
  })