.picker-name= h._.startCase(property.name())
  .date-range
    .filter
      label.label='from'
        .control.has-icons-right
          input.input.filter.pickadate(name=`${filterKey}.from` value=filters[`${filterKey}.from`])
          span.icon.is-small.is-right
            i.icomoon-calendar
    .filter
      label.label='to'
        .control.has-icons-right
          input.input.filter.pickadate(name=`${filterKey}.to` value=filters[`${filterKey}.to`])
          span.icon.is-small.is-right
            i.icomoon-calendar
