extends ../layout/layout
include ../mixins/form-group
include ../mixins/breadcrumb

block content
  secton.show-details
    - actionName = customAction && customAction.name
    +breadcrumb(currentResource, record, actionName)
    .column
      .level
        .title
          a.button.is-text.is-back(href=h.listUrl(currentResource))
            span.icon.is-small
              i.fas.fa-arrow-left
          | #{actionName || 'Details'}
        .field.is-grouped
          - actions = currentResource.decorate().getRecordActions(h, record)
          for key in ['edit', 'remove']
            - action = actions[key]
            if action
              .control
                a.button.is-primary(href=action.path)
                  span.icon
                    i(class=`fas fa-${action.icon}`)
                  .btn-text=action.label
    .column
      .border-box
        if customAction
          != customAction.content
        else
          for prop in currentResource.decorate().getShowProperties()
            .property
              .card-content
                .text-small #{h._.startCase(prop.name())}
                div(class={ 'feature' : properties.indexOf(prop) === 0 })
                  != currentResource.decorate().getValue({ record, property: prop, where: 'show' })
