extends ../layout/layout
include ../mixins/breadcrumb
include ../mixins/confirmDialog

block content
  secton.show-details
    +confirm-dialog('Remove record', 'Are you sure you want remove this item', 'Remove')
    - actionName = customAction && customAction.name
    +breadcrumb(currentResource, record, actionName)
    .column
      .level
        .title
          a.button.is-text.is-back(href=h.listUrl(currentResource))
            span.icon.is-small
              i.icomoon-pagination-left
          | #{actionName || 'Details'}
        .field.is-grouped
          - actions = currentResource.decorate().getRecordActions(record)
          for key in ['edit', 'remove']
            - action = actions[key]
            - remove = key === 'remove'
            if action
              .control
                a.button.is-primary(data-confirm-dialog=remove && action.path href=!remove && action.path)
                  span.icon
                    i(class=`${action.icon}`)
                  .btn-text=action.label
    .column
      .border-box
        if customAction
          != customAction.content
        else
          for prop in currentResource.decorate().getShowProperties()
            .property!= prop.renderShow(record)