mixin formGroup(prop, value, error)
  .field
    case prop.type()
      when 'string'
        label.label(for=prop.name)= prop.name()
        .control
          input.input(type='text' id=prop.name() name=prop.name() value=value)
      when 'boolean'
        .control.control-checkbox
          input.checkbox(type="checkbox" checked=value id=prop.name() name=prop.name() value='true')
          label.checkbox(for=prop.name())= prop.name()
      when 'number'
        .control
          label.label(for=prop.name)= prop.name()
          .control
            input.input(type='number' id=prop.name() name=prop.name() value=value)
      when 'date'
        label.label(for=prop.name)= prop.name()
        .control.has-icons-right
          input.input.pickadate(type='text' id=prop.name() name=prop.name() value=h.moment(value).format('YYYY-MM-DD'))
          span.icon.is-small.is-right
            i.fas.fa-calendar
      when 'float'
        label.label(for=prop.name)= prop.name()
        .control
          input.input(type='number' id=prop.name() name=prop.name() value=value)
    if error
      .help.is-danger= error.message