label.label(for=property.name())= property.label()
.control
  select(type='text' id=property.name() name=property.name())
    if record
      option(value=record.id() selected=true)= resource.decorate().titleOf(record)
if error
  .help.is-danger= error.message

script.
  $(document).ready(() => {
    const selected = !{record && JSON.stringify({ id: record.id(), title: resource.decorate().titleOf(record) })}
    $('##{property.name()}').selectize({
      valueField: 'id',
      labelField: 'title',
      searchField: 'title',
      create: false,
      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
            url: ['!{h.apiSearch(resource)}', encodeURIComponent(query)].join('/'),
            type: 'GET',
            error: function() {
              callback();
            },
            success: function(res) {
              callback(res.records.slice(0, 10));
            }
        });
    }
    })
  })