.filter
  label.label 
    = property.label()
    |  is:
  .control
    select(type='text' name=filterKey)
      option(value='') -- All --
      if record
        option(value=record.id() selected=true)= resource.decorate().titleOf(record)

script.
  $(document).ready(() => {
    $('[name="#{filterKey}"]').selectize({
      valueField: 'id',
      allowEmptyOption: true,
      preload: true,
      labelField: 'title',
      searchField: 'title',
      create: false,
      load: function(query, callback) {
        //- if (!query.length) return callback();
        $.ajax({
            url: ['!{h.apiSearch(resource)}', encodeURIComponent(query)].join('/'),
            type: 'GET',
            error: function() {
              callback();
            },
            success: function(res) {
              callback(res.records.slice(0, 10));
            }
        });
    }
    })
  })