html
  head
    title AdminBro - #{h.branding.companyName}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block scripts
      link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/themes/default.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/themes/default.date.css")
      link(rel="stylesheet" href=h.assetPath("style.min.css"))
  body
    .columns.container-main
      aside.sidebar
        include components/sidebar
      .column.content-wrapper
        include components/topbar
        block header
        block content

    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.date.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
    script(src=h.assetPath("app.min.js"))
